<a href="https://colab.research.google.com/github/enilaester/CheatSheets/blob/main/ToDo7_Weekly_Reports.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Análise - Relatório Semanal para a Loja 'X'**

**Objetivo:**



Analisar ganhos e despesas obtidas pela loja 'X' durante a semana de 05 a 11 de setembro de 2022. Foram apontadas observações e sugestões considerando três frentes:


1.   Receitas
2.   Despesas
3.   Lucro

## **0 - Preparação do relatório**

In [ ]:
#importando a  biblioteca Pandas
import pandas as pd

#importando o arquivo csv que está no direito com gastos diários da loja
#a coluna 'Dia' será o índex explícito do DataFrame
loja_df = pd.read_csv("/content/drive/MyDrive/RESILIA/To Do/Todo_7_Relatórios_Semanais/Todo7_relatorio .csv", index_col='Dia', decimal=',')
loja_df

               Limpeza  Comida  Transporte  Outros
Dia
Segunda-Feira      100  221.60         150       0
Terça-Feira          0  375.31         100       0
Quarta-Feira       100  412.00         125    2310
Quinta-Feira         0  495.20         300     500
Sexta-Feira        100  411.53         275       0
Sábado             100  245.00         525       0
Domingo              0  164.00          75     820

In [ ]:
# Acrescentando a coluna com os ganhos diários:

loja_df['Receita Diária'] = [2200, 2420.50, 3391, 5322, 4898.50, 4200, 3893]
loja_df

               Limpeza  Comida  Transporte  Outros  Receita Diária
Dia
Segunda-Feira      100  221.60         150       0          2200.0
Terça-Feira          0  375.31         100       0          2420.5
Quarta-Feira       100  412.00         125    2310          3391.0
Quinta-Feira         0  495.20         300     500          5322.0
Sexta-Feira        100  411.53         275       0          4898.5
Sábado             100  245.00         525       0          4200.0
Domingo              0  164.00          75     820          3893.0

In [ ]:
# Acrescentando os impostos diários totais (alíquota de 7% ao dia):

loja_df['Impostos'] = [(0.07*2200), (0.07*2420.50), (0.07*3391), (0.07*5322), (0.07*4898.50), (0.07*4200), (0.07*3893)]
loja_df

               Limpeza  Comida  Transporte  Outros  Receita Diária  Impostos
Dia
Segunda-Feira      100  221.60         150       0          2200.0   154.000
Terça-Feira          0  375.31         100       0          2420.5   169.435
Quarta-Feira       100  412.00         125    2310          3391.0   237.370
Quinta-Feira         0  495.20         300     500          5322.0   372.540
Sexta-Feira        100  411.53         275       0          4898.5   342.895
Sábado             100  245.00         525       0          4200.0   294.000
Domingo              0  164.00          75     820          3893.0   272.510

## **1. Análise dos ganhos(receitas)**

**Observações:**

* O **maior ganho** diário obtido foi registrado na **quinta-feira**  com o total de R$5.322,00, o que representa 20,2 % do ganho semanal.

* Por outro lado, **o menor ganho** diário ocorreu na **segunda-feira**, com o total de R$2.200,00 representando 8,4% do ganho semanal.

* Na maioria dos dias da semana, entre **quinta-feira a domingo**, o ganho diário **superou** a **receita média semanal de R$ 3.760,71**.

---

**Sugestões:**

* Recomenda-se analisar a origem dos ganhos para **identificar quais os itens/categorias que mais venderam** e portanto, sustentaram a maior parte da receita da loja durante a semana. Essa informação também será útil para análise de estoque.

* Recomenda-se também **identificar os itens com baixa saída**. Em seguida, seria indicado realizar pesquisas de satisfação com os clientes para entender suas preferências e necessidades a fim de aumentar a venda de tais produtos futuramente.

* Buscar **identificar possíveis razões para o aumento de ganhos na quinta-feira**: houve alguma campanha ou promoção? Assim como identificar a composição das vendas nesse dia e vendedores responsáveis.

In [ ]:
# Estatísticas básicas da tabela inicial:
loja_df.describe()

,Limpeza,Comida,Transporte,Outros,Receita Diária,Impostos
count,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000
mean,57.142857,332.091429,221.428571,518.571429,3760.714286,263.250000
std,53.452248,121.939957,159.052253,854.018512,1176.954610,82.386823
min,0.000000,164.000000,75.000000,0.000000,2200.000000,154.000000
25%,0.000000,233.300000,112.500000,0.000000,2905.750000,203.402500
50%,100.000000,375.310000,150.000000,0.000000,3893.000000,272.510000
75%,100.000000,411.765000,287.500000,660.000000,4549.250000,318.447500
max,100.000000,495.200000,525.000000,2310.000000,5322.000000,372.540000

In [ ]:
#Cálculo da receita total semanal:
receita_total = loja_df['Receita Diária'].sum(axis = 0)
print( 'A receita total semanal é de R$',receita_total)

A receita total semanal é de R$ 26325.0

In [ ]:
#Cálculo da receita diária em percentual (%) sobre a receita total semanal (ordem descrescente):

receita_em_percentual = loja_df['Receita Diária']/receita_total*100
receita_em_percentual.sort_values(ascending=False)

Dia
Quinta-Feira     20.216524
Sexta-Feira      18.607787
Sábado           15.954416
Domingo          14.788224
Quarta-Feira     12.881292
Terça-Feira       9.194682
Segunda-Feira     8.357075
Name: Receita Diária, dtype: float64

In [ ]:
#Cálculo da receita média semanal:
receita_media = loja_df['Receita Diária'].mean(axis =0)
print ('O ganho médio semanal é de R$', receita_media)

O ganho médio semanal é de R$ 3760.714285714286

## **2. Análise das despesas**

**Observações:**

* **Quarta-feira** foi o dia da semana em que houve mais gastos (3.184,37)
o que representa **32,6% dos gastos semanais**(R$ 9.747,39).

* A maior parte dos gastos da quarta-feira são representados pela **categoria 'Outros'**, com o total de R$ 2.310,00.

* Aproximadamente **50% dos gastos** da semana foram efetuados em apenas dois dias: **quarta e quinta-feira**.

* Igualmente, **a média de gastos de R$ 1.392**, foi **superada** apenas na **quarta e quinta e feira**.

* Em relação as categorias, a denominada **"Outros"** é de fato a que mais contribui negativamente para as despesas da loja, **representando 37% dos gastos semanais**. Em segundo lugar temos  a categoria "Comida" representando 23,8% dos gastos.

---



**Sugestões:**

* Recomenda-se fortemente **verificar os itens que compõe a categoria 'Outros**' e entender porque há tanta **variação** nessa categoria e  as **razões de ter sido tão expressiva na quarta-feira.** A seguir é necessário ver meios para diminuir ou eliminar gastos desnecessários;

* Recomenda-se **verificar também as variações com gastos em comida** (Há diferente quantidade de funcionários na loja em alguns dias? As refeiçoes estão sendo compradas em lugares diferentes? Ou apenas os preços que subiram?).

* Há também **variação nos gastos com transporte** (15% dos gastos semanais), é também interessante buscar entender porque isso acontece e se há maneiras de economizar nesse quesito.

In [ ]:
# A despesa diária total:
loja_df['Despesa Diária Total'] = loja_df.loc[:'Domingo',['Limpeza','Comida','Transporte', 'Outros','Impostos']].sum(axis = 1)
loja_df

,Limpeza,Comida,Transporte,Outros,Receita Diária,Impostos,Despesa Diária Total
Dia,,,,,,,
Segunda-Feira,100,221.60,150,0,2200.0,154.000,625.600
Terça-Feira,0,375.31,100,0,2420.5,169.435,644.745
Quarta-Feira,100,412.00,125,2310,3391.0,237.370,3184.370
Quinta-Feira,0,495.20,300,500,5322.0,372.540,1667.740
Sexta-Feira,100,411.53,275,0,4898.5,342.895,1129.425
Sábado,100,245.00,525,0,4200.0,294.000,1164.000
Domingo,0,164.00,75,820,3893.0,272.510,1331.510

In [ ]:
#A despesa semanal total:

despesa_total = loja_df['Despesa Diária Total'].sum(axis = 0)
print('A despesa total dessa semana foi de R$', despesa_total)

A despesa total dessa semana foi de R$ 9747.390000000001

In [ ]:
# A despesa diária total em percentual (ordem decrescente):
despesa_em_percentual = loja_df['Despesa Diária Total']/despesa_total*100
despesa_em_percentual.sort_values(ascending=False)

Dia
Quarta-Feira     32.668950
Quinta-Feira     17.109606
Domingo          13.660170
Sábado           11.941658
Sexta-Feira      11.586948
Terça-Feira       6.614540
Segunda-Feira     6.418128
Name: Despesa Diária Total, dtype: float64

In [ ]:
# A média semanal de todas as despesas:

despesa_media = loja_df['Despesa Diária Total'].mean(axis = 0)
print( 'A média de gastos dessa semana foi de R$', despesa_media)

A média de gastos dessa semana foi de R$ 1392.484285714286

In [ ]:
# Soma total das despesas por categoria (ordem decrescente):
despesas_por_categoria = loja_df[['Limpeza','Comida','Transporte','Outros','Impostos']].sum()
despesas_por_categoria.sort_values(ascending=False)

Outros        3630.00
Comida        2324.64
Impostos      1842.75
Transporte    1550.00
Limpeza        400.00
dtype: float64

In [ ]:
# Soma total das despesas por categoria em percentual (ordem decrescente):
despesas_categoria_percentual = despesas_por_categoria/despesa_total*100
despesas_categoria_percentual.sort_values(ascending=False)

Outros        37.240738
Comida        23.848846
Impostos      18.905061
Transporte    15.901693
Limpeza        4.103663
dtype: float64

## **3. Análise dos lucros**

**Observações:**

* A **receita líquida** diária e semanal foram **positivas**. A receita líquida representa os ganhos após deduções como os impostos, neste caso.
* O **lucro líquido** diário e semanal foram **positivos**. O lucro líquido representa o montante após subtrairmos as despesas totais dos ganhos obtidos.
* A **média de lucro** diário foi de R$ 2.368,23.
* Em geral, ao longo da semana, o lucro diário apresentou **crescimento**. Porém, apresentou flutuações:
  - Se manteve em crescimento até quarta-feira quando teve uma queda abrupta;
  - Voltou a crescer entre a quinta e sexta-feira (dia mais lucrativo);
  - Porém, apresentou queda no final de semana.
* As despesas tiveram grande impacto na lucratividade da quarta-feira (ficando bem aquém da média: 206,63).


---
**Recomendações:**

* A loja apresentou rentabilidade expressiva durante essa semana, porém é necessário **avaliar o fluxo de caixa** e entender qual a previsão de receber os ganhos com as vendas (a prazo ou à vista);

* Recomenda-se **continuar efetuando analises semanais** para avaliar **tendências** nos quesistos analisados: ganhos, despesas e lucros.

In [ ]:
# Receita Líquida Diária = receita bruta das vendas subtraindo-se deduções, neste caso apenas os impostos

loja_df['Receita Diária Sem Impostos'] = loja_df['Receita Diária']-loja_df['Impostos']
loja_df

,Limpeza,Comida,Transporte,Outros,Receita Diária,Impostos,Despesa Diária Total,Receita Diária Sem Impostos
Dia,,,,,,,,
Segunda-Feira,100,221.60,150,0,2200.0,154.000,625.600,2046.000
Terça-Feira,0,375.31,100,0,2420.5,169.435,644.745,2251.065
Quarta-Feira,100,412.00,125,2310,3391.0,237.370,3184.370,3153.630
Quinta-Feira,0,495.20,300,500,5322.0,372.540,1667.740,4949.460
Sexta-Feira,100,411.53,275,0,4898.5,342.895,1129.425,4555.605
Sábado,100,245.00,525,0,4200.0,294.000,1164.000,3906.000
Domingo,0,164.00,75,820,3893.0,272.510,1331.510,3620.490

In [ ]:
# Receita Líquida Semanal: receita total semanal sem os impostos:
receita_sem_impostos = loja_df['Receita Diária Total Sem Impostos'].sum(axis =0)
print(' A receita total semanal retirados os impostos é de R$',receita_sem_impostos)

 A receita total semanal retirados os impostos é de R$ 24482.25

In [ ]:
# Lucro líquido diário (Receita - Despesas Totais):
lucro_liquido= loja_df['Receita Diária'] - loja_df['Despesa Diária Total']
lucro_liquido

Dia
Segunda-Feira    1574.400
Terça-Feira      1775.755
Quarta-Feira      206.630
Quinta-Feira     3654.260
Sexta-Feira      3769.075
Sábado           3036.000
Domingo          2561.490
dtype: float64

In [ ]:
#Lucro líquido médio:

lucro_liquido.mean()

2368.23

In [ ]:
# Qual o dia mais lucrativo:
lucro_liquido.sort_values(ascending=False)

Dia
Sexta-Feira      3769.075
Quinta-Feira     3654.260
Sábado           3036.000
Domingo          2561.490
Terça-Feira      1775.755
Segunda-Feira    1574.400
Quarta-Feira      206.630
dtype: float64

In [ ]:
# Lucro líquido total da semana:
lucro_liquido_total = receita_total - despesa_total
lucro_liquido_total

16577.61